.App-header {
  background-color: #3B3C3D;
  padding: 3px;
  padding-left: 10px;
  color: white;
}

.App-title {
  font-size: 1em;
}

.App-main {
  display: flex;
  padding: 20px;
  background-color: #AAD9FF; 
}

.App-main-editor {
  flex: 1;
}

.App-main-editor--error {
  color: red;
}

.App-main-display {
  flex: 1;
}

.App-main-display textarea {
  background-color: #E3F3FF
}