.App-header {
  background-color: #222;
  padding: 3px;
  padding-left: 10px;
  color: white;
}

.App-title {
  font-size: 1em;
}

.App-main {
  display: flex;
}

.App-main-editor {
  flex: 1;
}

.App-main-editor--error {
  color: red;
}

.App-main-display {
  flex: 1;
}